#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: left;
}

#facebox .popup {
    background: #fff;
    padding: 20px;
    min-height: 500px;
    position: relative;
    /*border: 3px solid rgba(0,0,0,0);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

#facebox .content {
    display: block;
    /*	width: 370px;*/
    min-width: 900px;
    padding: 10px 20px 10px 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#facebox .content>p:first-child {
    margin-top: 0;
}

#facebox .content>p:last-child {
    margin-bottom: 0;
}

#facebox .close {
    position: absolute;
    top: -30px;
    right: 0;
    padding: 8px;
    height: 30px;
    background: #fff;
    opacity: 1;
    border-radius: 0;
    width: auto;
    left: 0;
    transform: none;
    display: block;
    height: fit-content;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


#facebox .close:after,
#facebox .close:before {
    content: normal;
}

#facebox .close img {
    opacity: 0.3;
    max-width: 24px;
    margin-left: auto;
}

#facebox .close:hover img {
    opacity: 1.0;
}

#facebox .loading {
    text-align: center;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
    margin: 0;
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#facebox .faceboxWidth {
    display: block;
    width: 900px;
    /* overflow-y: auto; */
    /*overflow: scroll;*/
}

#facebox .fbminwidth {
    max-width: 900px;
}

#facebox .product-setup-width {
    width: 1000px;
}

.facebox_hide {
    z-index: -100;
}

.facebox_overlayBG {
    background-color: #edf0f5;
    z-index: 99;
}

@media only screen and (max-width: 1025px) {}

@media only screen and (max-width: 767px) {
    #facebox .faceboxWidth {
        width: auto;
    }
    #facebox .product-setup-width {
        width: auto;
    }
}

#facebox .content.small-fb-width {
    width: 100%;
    max-width: 350px;
    min-width: inherit;
}

#facebox .content.medium-fb-width {
    width: 100%;
    max-width: 650px;
    min-width: inherit;
}

#facebox .content.large-fb-width {
    width: 100%;
    max-width: 800px;
    min-width: 350px;
    min-width: inherit;
}

.h-min-auto {
    min-height: inherit !important;
}