.brand-information {
    margin-bottom: 1.5rem;
    .brand-logo {
        border: 6px double #0B233F;
        padding: 2rem 1rem;
        img {
            display: block;
            margin: auto;
        }
    }
}