.top-categories-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    @include media-breakpoint-down(sm) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .top-categories {
        overflow: hidden;
        background: $bg-white;
        border-radius: $radius4;
        height: 100%;
        color: $body-color;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        a {
            color: inherit;
        }
        .cat-img {
            display: block;
            margin: 0 0 1rem;
            padding: 0 0 25%;
            position: relative;
            width: 100%;
            img {
                max-width: 100%;
                bottom: 0;
                #{$start-direction}: 0;
                margin: auto;
                position: absolute;
                #{$end-direction}: 0;
                top: 0;
                transition: all 0.5s linear;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        .cat-tittle {
            color: #000;
            font-weight: 600;
            font-size: 1em;
            padding: 0 1.5rem;
        }
        .cat-list {
            padding: 0 1.5rem;
            li {
                display: block;
                margin: 10px 0;
                color: #515050;
                font-size: 0.9em;
            }
        }
        a {
            &:hover {
                color: $brand-color;
            }
        }
    }
}

.page-category {
    padding: 0;
    position: relative;
    z-index: 1;
    background: $gray-light;
}

.page-category__content {
    padding: 15px;
    border: 1px solid #ddd;
    color: #333;
    border-top: none;
    background: #fff;
    p {
        font-size: 0.9em;
    }
}

.cg-nav-wrapper {
    margin-bottom: 2rem;

    ul {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        color: $body-color;

        @include media-breakpoint-down(md) {
            & {
                flex-wrap: nowrap;
                overflow-x: auto;
            }
        }




        li {

            flex: 0 0 25%;
            max-width: 25%;
            padding: 5px;


            @include media-breakpoint-down(md) {
                & {
                    flex: auto;
                    max-width: inherit;
                }
            }


            &:first-child {}

            a {
                background: #fff;
                border: $border;
                border-radius: 3px;
                color: inherit;
                display: flex;
                align-items: center;
                padding: 0;

                .cg-icon {
                    height: 2.5rem;
                    width: 2.5rem;
                    display: flex;
                    align-items: center;
                    border-right: $border;
                    overflow: hidden;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                }

                .caption {
                    padding: 0.5rem;

                    @include media-breakpoint-down(md) {
                        & {
                            white-space: nowrap;
                        }
                    }
                }

            }



            &.iss--active {
                a {
                    color: $primary-color;
                    border-color: $primary-color;

                    .cg-icon {
                        border-color: $primary-color;
                    }
                }
            }

        }
    }




}

.cg-main {
    color: $body-color;

    a {
        color: inherit;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {

            & {
                flex-direction: column;

            }
        }


        li {
            flex: 0 0 25%;
            max-width: 25%;

            @include media-breakpoint-down(md) {

                & {
                    flex: auto;
                    max-width: none;

                }
            }

            a {
                padding: 0.5rem 0;
                font-size: 0.8rem;
            }

        }
    }

    .item {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: $border;
        display: block;

        &:last-child {
            margin: 0;
            border-bottom: none;
        }
    }

    .big-title {
        font-size: 0.89rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        .cg-icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-#{$end-direction}: 10px;
        }
    }
    .cell__body {
        margin-bottom: 15px;
        width: 100%;
    }
}
.sub-catagory-pro{
    .big-title {
        background: #f1f1f1;
        width: 100%;
        border-radius: 5px;
        padding: 11px 10px;
    }
 
} 
.categories-pg {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    @include media-breakpoint-down(sm) {
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .card-category {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $bg-gray;
        &-head {
            flex: 0 0 40%;
            max-width: 40%;
            display: flex;
            img {
                object-fit: cover;
            }
        }
        &-body {
            flex: 1;
            padding: 1.5rem 3rem;
            .title {
                font-weight: 500;
                font-size: 1.2rem;
            }
            li {
                margin: 0;
                a {
                    font-size: 0.8rem;
                    text-decoration: underline;
                    padding: 0.8rem 0;
                }
            }
        }
    }
}

.categories-thumb {
    overflow: hidden;
    a {
        display: block;
        padding: 0;
        margin: 0;
    }
    .aspect-ratio {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        .categories-thumb-bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            background-size: cover;
            background-position: center center;
            transition: all 1s ease-out 0s;
            &:after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                background-color: rgba(0, 0, 0, 0.4);
                transition: all 1s ease-out 0s;
            }
        }
    }
    &-heading {
        padding: 1rem;
        padding-bottom: 0;
        margin: 0;
    }
}

.masonry {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 0;
}

.masonry-item {
    border-radius: 5px;
}

.masonry-item {
    background-color: $bg-gray;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.8rem;
    ul {
        padding: 0 1rem;
        li {
            margin: 0.5rem 0;
            display: block;
        }
    }
}

.masonry-item,
.masonry-item img {
    position: relative;
}
