 .checkout {
     --header-height: 90px;
     --btn-height: 50px;
     @include media-breakpoint-up(xl) {
         .container {
             max-width: 1200px;
             padding: 0;
         }
     }
 }
 
 .checkout-page {
     //min-height: calc(100vh - (var(--header-height)));
     display: flex;
     @include media-breakpoint-down(sm) {
         padding-bottom: var(--btn-height);
     }
     .main {
         flex: 1;
         @include media-breakpoint-up(xl) {
             padding-#{$end-direction}: 60px;
             flex: 0 0 60%;
             max-width: 60%;
         }
     }
     .sidebar {
         //background: $bg-gray;
         //border-#{$start-direction}: $border;
         position: relative;
         flex: 1;
         background-position: left top;
         background: $bg-gray;
         padding: 2rem;
         border-radius: $radius4;
         @include media-breakpoint-down(lg) {
             display: none;
         }
         .order-summary--on & {
             display: block;
             flex: auto;
             max-width: inherit;
             padding: 1rem;
             padding-bottom: 0;
             margin: 0;
             //background: $bg-gray;
             background: hsla(0, 0%, 100%, .8);
             backdrop-filter: blur(7px);
             position: fixed;
             //top: 0;
             left: 0;
             right: 0;
             bottom: var(--btn-height);
             z-index: 10;
             width: 100%;
             //height: 100%;
             box-shadow: $shadow1;
         }
     }
 }
 
 .header-checkout {
     min-height: var(--header-height);
     background: $bg-white;
     background-size: cover;
     border-bottom: $border;
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: sticky;
     top: 0;
     z-index: 2;
     &_inner {
         padding: 1.5rem 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         @include media-breakpoint-down(md) {
             & {
                 padding: 0;
                 flex-direction: column;
             }
         }
     }
     .logo-checkout-main {
         max-width: 150px;
         display: block;
         padding: 0.5rem 0;
         //margin: 1rem 0;
         @include media-breakpoint-down(md) {
             & {
                 max-width: 100px;
             }
         }
         @include media-breakpoint-down(lg) {
             & {
                 max-width: 100px;
             }
         }
         img {
             &[data-ratio="16:9"] {
                 max-width: 120px;
             }
             &[data-ratio="1:1"] {
                 max-width: 60px;
             }
         }
     }
 }
 
 .order-summary-toggle {
     height: var(--btn-height);
     position: fixed;
     bottom: 0;
     z-index: 2;
     background: $brand-color;
     color: $brand-color-inverse;
     //backdrop-filter: blur(7px);
     border: none;
     padding: 1rem;
     width: 100%;
     @include media-breakpoint-up(xl) {
         display: none;
     }
     .order-summary-toggle__inner {
         display: flex;
         justify-content: space-between;
         //max-width: 400px;
         margin: 0 auto;
         .order-summary-toggle__text {
             position: relative;
             text-transform: uppercase;
         }
         .svg {
             width: 10px;
             height: 10px;
             margin: 0;
             fill: currentColor;
             transform: rotate(90deg);
             transition: all 0.5s ease;
         }
     }
     .order-summary-toggle__total-recap {
         margin-#{$start-direction}: auto;
     }
 }
 
 .step {
     display: flex;
     flex-direction: column;
     width: 100%;
     &_section {
         //margin-bottom: 2rem;
         &:last-child {
             margin: 0;
         }
     }
     &_head {
         color: $txt-gray;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 0.8rem;
     }
     &_title {
         text-transform: uppercase;
         font-size: 1rem;
         margin: 0;
         font-weight: 600;
         color: $txt-body;
     }
     &_body {
         flex: 1;
     }
     &_foot {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 1.5rem;
         .step_footer__continue-btn {
             order: 2;
         }
     }
 }
 
 .checkout-actions {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
     width: 100%;
 }
 
 .review-block {
     margin-bottom: 2rem;
     font-size: 0.8rem;
     border-radius: $radius4;
     border: $border;
     color: $txt-gray;
     >li {
         position: relative;
         padding: 1rem;
         display: flex;
         border-bottom: $border;
         flex-direction: column;
         justify-content: space-between;
         &:last-child {
             border-bottom: none;
         }
     }
     &__label {
         color: $txt-body;
         font-size: 0.99rem;
         margin-bottom: 0.5rem;
         font-weight: 500;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
     &__content {
         flex: 1;
         overflow: hidden;
         padding-#{$end-direction}: 100px;
         .selected-slot {
             font-weight: 600;
             padding-top: 0.5rem;
             display: block;
         }
     }
     &__link {
         position: absolute;
         top: 1rem;
         #{$end-direction}: 1rem;
         .svg {
             width: 1rem;
             height: 1rem;
             margin-#{$end-direction}: 8px;
         }
     }
     .shipping-data {
         display: flex;
         align-items: center;
         &_title {
             font-size: 0.85rem;
             margin-#{$start-direction}: 8px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }
     }
 }
 
 .order-summary {
     h5 {
         text-transform: uppercase;
         font-size: 1rem;
         color: $txt-body;
     }
     &_list {
         min-width: 100%;
         position: relative;
         max-height: 500px;
         overflow-y: auto;
     }
     .cart-summary {
         margin-top: 2rem;
     }
 }
 
 .v-divider {
     &:after {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         left: 50%;
         background: #efefef;
         width: 1px;
     }
 }
 
 .shipping-section {
     border: $border;
     border-radius: $radius4;
     margin-bottom: 1rem;
     .shipping-option {
         padding: 1rem;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     .custom-select {
         max-width: 200px;
         font-size: 0.8rem;
     }
 }
 
 .pick-section {
     /*border: $border;
    border-radius: $radius4;*/
     margin-bottom: 1rem;
     .pickup-option {
         padding: 1rem;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         @include media-breakpoint-down(md) {
             & {
                 flex-direction: column;
             }
         }
         &__list {
             flex: 1;
             padding-#{$end-direction}: 2rem;
             @include media-breakpoint-down(md) {
                 & {
                     flex: auto;
                     max-width: none;
                     padding: 0;
                     padding-bottom: 2rem;
                 }
             }
             li {
                 padding-bottom: 2rem;
                 .radio {
                     display: flex;
                 }
             }
         }
         .pickup-time {
             flex: 1;
         }
         .lb-txt {
             font-size: 0.8rem;
             margin-top: -4px;
             color: $txt-gray;
         }
     }
     .pickup-time {
         .calendar {
             margin-bottom: 1.2rem;
             .xdsoft_datetimepicker .xdsoft_datepicker {
                 width: 256px;
             }
         }
         .time-slot {
             display: flex;
             flex-wrap: wrap;
             justify-content: space-between;
             li {
                 padding-right: 10px;
                 margin-bottom: 10px;
                 position: relative;
                 flex: 0 0 50%;
                 max-width: 50%;
                 .control-input {
                     position: absolute;
                     opacity: 0;
                     z-index: -1;
                     &:checked+.control-label {
                         background: $brand-color;
                         border-color: $brand-color;
                         color: $brand-color-inverse;
                     }
                 }
                 .control-label {
                     display: block;
                     background: $bg-white;
                     border: $border;
                     border-radius: $radius4;
                     position: relative;
                     cursor: pointer;
                     font-size: 12px;
                     -webkit-transition: all 0.2s ease;
                     transition: all 0.2s ease;
                     .time {
                         padding: 0.5rem 0.7rem;
                         display: block;
                         text-align: center;
                     }
                 }
             }
         }
     }
 }
 
 .calendar-pickup {
     .ui-datepicker {
         min-width: auto;
         border: $border !important;
         box-shadow: none;
         font-size: 0.8rem;
         td .ui-state-default {
             padding: 5px;
         }
     }
 }
 
 .payment-area {
     .nav-payments {
         display: flex;
         flex-wrap: nowrap;
         overflow-x: auto;
         border: solid 1px #888;
         border-radius: $radius4;
         margin: 1rem 0;
         li {
             flex: 1;
             font-size: 0.85rem;
             text-align: center;
             a {
                 white-space: nowrap;
                 padding: 0.6rem 0.8rem;
                 color: #888;
                 &.active {
                     background: $brand-color;
                     color: #fff;
                 }
             }
         }
     }
     .tab-content {
         border: $border;
         border-radius: $radius4;
         padding: 2rem;
     }
     .paypal-data {
         text-align: center;
         p {
             padding: 1rem;
             font-size: 0.8rem;
         }
     }
 }
 
 .place-order {
     text-align: center;
     font-size: 0.8rem;
     padding: 2rem 0;
     p {
         padding-bottom: 1rem;
         a {
             color: $brand-color;
         }
     }
 }
 
 .rewards {
     background-color: $bg-gray;
     border-radius: $radius4;
     border: $border;
     padding: 1.5rem;
     margin: 0;
     &__points {
         margin-bottom: 1.5rem;
         ul {
             display: grid;
             grid-gap: 1rem;
             grid-template-columns: 50% 1fr;
             align-items: center;
             li {
                 height: 100%;
                 text-align: center;
                 border-radius: $radius4;
                 padding: 1rem;
                 border: $border;
                 background-color: $bg-white;
                 p {
                     font-size: 0.8rem;
                 }
                 .count {
                     font-weight: 600;
                     font-size: 1.3rem;
                 }
             }
         }
     }
     .info {
         margin-bottom: 1.5rem;
         padding: 0;
         background: none;
         line-height: 1;
     }
 }
 
 .earn-points {
     background: $bg-gray;
     border-radius: $radius4;
     padding: 0.7rem;
     text-align: center;
     .svg {
         margin-#{$end-direction}: 10px;
     }
 }
 
 .list-addresses {
     >li {
         padding: 1rem;
         position: relative;
         border: $border;
         margin-bottom: 1rem;
         border-radius: 4px;
         .delivery-address {
             font-size: 0.85rem;
             color: $txt-gray;
             line-height: 1.5;
             margin-bottom: 0;
             h5 {
                 margin-bottom: 10px;
                 font-weight: 500;
                 font-size: 0.9rem;
                 line-height: 1.5;
                 color: $body-color;
                 display: flex;
                 align-items: center;
             }
             span {
                 text-overflow: ellipsis;
                 white-space: nowrap;
                 overflow: hidden;
                 display: inline-block;
                 max-width: 50%;
             }
             .tag {
                 margin: 0 5px;
                 border: solid 1px $success-color;
                 border-radius: 40px;
                 color: $success-color;
                 padding: 2px 0.6rem;
                 line-height: 1;
                 font-size: 0.75rem;
                 font-weight: 400;
                 text-transform: uppercase;
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 max-width: 42%;
             }
             .phone-txt {
                 font-weight: 500;
                 margin-top: 8px;
             }
         }
     }
     .tags-addresses {
         position: static;
         .tags__inner {
             justify-content: flex-start;
             .tag {
                 font-size: 1rem;
                 color: $brand-color;
                 border-color: $brand-color;
             }
         }
     }
 }
 
 .tags {
     margin: 0 0;
     position: absolute;
     top: 1rem;
     #{$end-direction}: 1rem;
     text-align: #{$end-direction};
     &__inner {
         display: flex;
         justify-content: flex-end;
         .tag {
             margin: 0 5px;
             border: solid 2px $success-color;
             border-radius: 40px;
             color: $success-color;
             padding: 6px 1rem;
             line-height: 1;
             font-weight: 500;
             font-size: 0.75rem;
             text-transform: uppercase;
             &.address_lable {
                 margin-#{$start-direction}: auto;
             }
             &:last-child {
                 margin-#{$end-direction}: 0;
             }
         }
     }
     &__txt {
         display: block;
         font-size: 0.8rem;
         color: $txt-gray;
         margin-top: 4px;
     }
 }
 
 .payment-card {
     font-size: 0.85rem;
     color: $txt-gray;
     strong {
         font-weight: 500;
         color: $body-color;
     }
     .list-group-item {
         padding: 1rem;
     }
     &__photo {
         .svg {
             width: 38px;
             height: 24px;
         }
     }
     &-double {
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
         @include media-breakpoint-down(md) {
             & {
                 flex-direction: column;
             }
         }
         li {
             max-width: 49%;
             flex: 49%;
             margin-bottom: 1rem;
             border-radius: $radius4;
             @include media-breakpoint-down(md) {
                 & {
                     max-width: auto;
                     flex: auto;
                 }
             }
         }
     }
     &-view {
         .list-group-item {
             padding: 1rem;
             .row {
                 align-items: center;
                 @include media-breakpoint-down(md) {
                     & {
                         flex-wrap: nowrap;
                         overflow-x: auto;
                         align-items: inherit;
                     }
                 }
             }
         }
     }
 }
 
 .list-shippings {
     margin-bottom: 1.5rem;
     font-size: 0.8rem;
     >li {
         position: relative;
     }
     .shipping-select {
         font-size: 0.85rem;
         background-color: $bg-gray;
         padding: 1rem;
         padding-#{$end-direction}: 5px;
         //align-items: center;
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         &-row {
             flex-direction: row;
         }
         h6 {
             margin: 0;
             font-size: 0.9rem;
         }
     }
     .shipping-edit {
         position: initial;
         top: 1rem;
         #{$end-direction}: 1rem;
     }
     .pickup-select {
         display: flex;
         justify-content: space-between;
         flex-direction: initial;
     }
     .shop-name {
         display: flex;
         justify-content: space-between;
         color: $txt-body;
         /* flex: 0 0 20%;
        max-width: 20%;*/
         h6 {
             margin: 0;
             font-size: inherit;
             padding-#{$end-direction}: 1rem;
         }
         .svg {
             width: 1rem;
             height: 1rem;
             margin-#{$end-direction}: 5px;
         }
     }
     .picked-address {
         //border: $border;
         background: $bg-brand-light;
         color: $brand-color;
         border-radius: 4px;
         padding: 0.8rem 1rem;
         display: flex;
         font-weight: 600;
         margin-top: 1rem;
         .svg {
             width: 16px;
             height: 16px;
             margin-#{$end-direction}: 8px;
         }
     }
     .shop-address {
         flex: 1;
         margin-top: 1rem;
     }
     .shipping-method {
         max-width: 50%;
         &_messages {
             font-size: inherit;
         }
         .form-control {
             font-weight: 600;
             font-size: inherit;
             border: none;
             border-radius: 0px;
             padding: 0;
             padding-#{$start-direction}: 10px;
             padding-#{$end-direction}: 2rem;
             height: auto;
             background-color: transparent;
             text-overflow: ellipsis;
            overflow: hidden;
         }
     }
 }
 
 .wallet-balance {
     border: $border;
     border-radius: 0 0 $radius4 $radius4;
     padding: 1.5rem;
     margin-top: -4px;
     /*background-color: $bg-gray;*/
     display: flex;
     align-items: center;
     justify-content: space-between;
     .wallet {
         display: flex;
         align-items: center;
         flex: 1;
         &__txt {
             display: flex;
             align-items: center;
             .svg {
                 width: 40px;
                 height: 40px;
                 margin-#{$end-direction}: 12px;
                 margin-#{$start-direction}: 5px;
                 fill: $txt-gray;
             }
             p {
                 font-size: 0.75rem;
                 font-weight: 300;
                 color: $txt-gray;
                 margin-bottom: 5px;
                 line-height: 1;
                 text-transform: uppercase;
             }
             .currency-value {
                 display: block;
                 font-weight: 600;
                 color: $body-color;
                 font-size: 1.2rem;
             }
         }
     }
     &_info {
         flex: 1;
         font-size: 0.8rem;
         color: $txt-gray;
     }
 }
 
 .form-inline {
     position: relative;
     input {
         &[type="text"] {
             width: 100%;
         }
     }
     .btn-submit {
         background: none;
         position: absolute;
         top: 0;
         #{$end-direction}: 0;
         color: $brand-color;
         font-weight: 500;
         border: none;
         &:focus {
             outline: none;
             border: none;
         }
         &:hover {
             box-shadow: none;
         }
     }
 }
 
 .transfer-payment-detail {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     font-size: 0.8rem;
     color: $txt-gray;
     li {
         max-width: 33%;
         flex: 0 0 33%;
         display: flex;
         margin-bottom: 1.5rem;
         &.notes {
             max-width: none;
             flex: auto;
         }
     }
     .svg {
         display: none;
         width: 1rem;
         height: 1rem;
         margin-#{$end-direction}: 10px;
         fill: $txt-gray;
     }
     h6 {
         margin-bottom: 4px;
         font-size: 0.82rem;
         color: $body-color;
         text-transform: uppercase;
     }
 }
 
 .otp-block {
     &__head {
         margin-bottom: 1.5rem;
         text-align: center;
         h5 {
             margin: 0;
             padding: 0;
         }
     }
     &__footer {
         margin-top: 1.5rem;
     }
     p {
         font-size: 0.8rem;
         color: $txt-gray;
     }
     .otp-enter {
         margin: 0 auto;
         text-align: center;
         .otp-inputs {
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 1rem;
             input.field-otp {
                 border: none;
                 border-radius: 0;
                 border-bottom: $border;
                 max-width: 30px;
                 text-align: center;
                 padding: 5px;
                 margin: 0 3px;
                 &:focus {
                     border-color: #000;
                 }
                 &.is-invalid {
                     border-color: red;
                 }
             }
         }
     }
     .otp-success {
         text-align: center;
         .img {
             max-width: 80px;
             margin: 2rem auto;
         }
         h5 {
             margin: 0;
             padding: 0;
         }
     }
 }
 
 .phone-txt {
     font-weight: 500;
     font-size: 0.85rem;
     margin-top: 8px;
     i {
         margin-#{$end-direction}: 5px;
     }
 }
 
 .time-txt {
     @extend .phone-txt
 }
 
 .payment-action {
     display: flex;
     justify-content: space-between;
     padding: 1rem;
 }
 
 #signature {
     width: 100%;
     height: auto;
     border-radius: $radius4;
     //background-color: $bg-placeholder;
     //  @include placeholder;
     border: $border;
 }
 
 .lable-signature {
     font-size: 0.8rem;
     color: $txt-gray;
     letter-spacing: -0.3px;
 }
 
 .attached-files {
     border: $border;
     border-radius: $radius4;
     padding: 1rem;
     margin-bottom: 1.5rem;
     overflow-x: auto;
     ul {
         display: flex;
         align-items: center;
         li {
             padding: 1rem;
             text-align: center;
             border: $border;
             border-radius: $radius4;
             h6 {
                 font-size: 0.8rem;
             }
             a {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 color: $txt-gray;
                 font-size: 0.8rem;
             }
         }
     }
     .icn {
         font-size: 2rem;
         margin-bottom: 0.6rem;
         background-color: $bg-gray;
         padding: 1rem;
         border-radius: $radius4;
     }
 }
 
 .signature-block {
     border: $border;
     border-radius: $radius4;
     padding: 1rem;
 }
 
 .verified-box {
     border-radius: $radius3;
     border: $border;
     &-list {
         >li {
             border-bottom: $border;
             padding: 1rem;
             &:last-child {
                 border-bottom: none;
             }
         }
     }
     .media-more {
         margin-bottom: 0.8rem;
     }
     .verified-sellers-list {
         display: flex;
         flex-wrap: wrap;
         li {
             flex: 0 0 50%;
             max-width: 50%;
             padding: 1rem;
         }
     }
     &-seller {
         display: flex;
         flex-direction: column;
         align-items: center;
         &_img {
             border-radius: 10px;
             max-width: 50%;
             //border: $border;
             margin-bottom: 0.5rem;
         }
         .detail {
             font-size: 0.8rem;
             //margin-#{$start-direction}: 22px;
             border: $border;
             padding: 10px;
             border-radius: $radius4;
             .svg {
                 width: 1.5rem;
                 height: 1.5rem;
             }
         }
     }
 }
 
 .canvas-signature {
     background-color: $bg-gray;
     min-height: 100px;
     border-top: $border;
 }
 
 .verification-data-list {
     display: flex;
     flex: 1;
     flex-direction: column;
     font-weight: 300;
     >li {
         display: flex;
         padding: 0.3rem 0;
         &:last-child {
             padding-bottom: 0;
         }
     }
     .lable {
         font-weight: 500;
         flex: 0 0 30%;
         max-width: 30%;
     }
 }
 
 .signature {
     input[type="button"] {
         border-radius: .25rem;
         background-color: $brand-color;
         color: $brand-color-inverse;
     }
 }