@keyframes menuedesktopanimation {
    from {
        max-height: 0;
    }
    to {
        max-height: 630px
    }
}

// Section: Variables
$color-white: #ffffff;
$color-light: #f1f5f8;
$color-black: #121212;
$color-night: #001632;
$color-red: #e53935;
$color-blue: #2196f3;
$color-green: #43a047;
$color-purple: #9c27b0;
$color-orange: #fb8c00;
$color-indigo: #6633ff;
$shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
0 4px 6px -2px rgba(0, 0, 0, 0.05);
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.menu {
    //position: relative;
    .icn-arrow-down {
        .svg {
            margin: 0;
            width: 10px;
            height: 10px;
        }
    } 
    >ul>li {
        display: inline-block; 
        line-height: 1;
        margin: 0 -2px;
        //margin-left: 1.5rem;
        >a {
            display: block;
            position: relative;
            font-size: 0.875rem;
            padding: 0.8rem 1.5rem;
            font-weight: 500;
            line-height: 1.5;
            border: none;
            outline: none;
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
            transition: color 0.3s ease-in-out;
            // background-image: linear-gradient(currentColor, currentColor);
            // background-position: 50% 100%;
            // background-repeat: no-repeat;
            // background-size: 0% 1px;
            // transition: background-size 0.3s;
            &:hover,
            &:visited {
                text-decoration: none;
               // background-size: 70% 1px;
            }
        }
        .menu-subs {
            position: absolute;
            top: 100%;
            width: 100%;
            height: auto;
            padding: 1rem 2rem;
            border: none;
            outline: none;
            z-index: 500;
            border-radius: 0;
            border-top: $border;
            background: $color-white;
            box-shadow: $shadow-medium;
            transition: all 0.5s ease-in-out;
            // opacity: 0;
            // visibility: hidden;
            display: none;
            max-height: 0;
            //
            //transform: scaleY(0);
            >ul>li {
                line-height: 1;
                >a {
                    display: inline-block;
                    font-size: 0.85rem;
                    font-weight: 500;
                    line-height: 1.25;
                    padding: 0.75rem 0;
                    border: none;
                    outline: none;
                    text-transform: capitalize;
                    text-rendering: optimizeLegibility;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .menu-subs {
            max-width: 20rem;
            &.menu-mega {
                max-width: inherit;
                #{$start-direction}: 0;
                // left: 50%;
                // transform: translateX(-50%);
                >.list-item>ul>li {
                    display: block;
                    line-height: 1;
                    >a {
                        display: inline-block;
                        font-size: 0.8rem;
                        line-height: 1.25;
                        padding: 0.5rem 0;
                        border: none;
                        outline: none;
                        text-rendering: optimizeLegibility;
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
            &.menu-column-4 {
                display: flex;
                flex-wrap: wrap;
                //max-width: 68rem;
                width: 100%;
                padding: 1.25rem 1rem;
                >.list-item {
                    //flex: 0 0 25%;
                    flex: 1;
                    padding: 0 1rem;
                }
            }
            &.menu-mega>.list-item>ul>li>a:hover,
            >ul>li>a:hover { 
                color: $brand-color;
            }
        }
    }
}

// Section: Media Query
@media only screen and (min-width: 993px) {
    .menu>ul>li.menu-item-has-children:hover .menu-subs {
        animation: menuedesktopanimation 300ms ease-out 0s 1 normal forwards;
        max-height: unset; 
        display: block;
        overflow: hidden;
        // min-height: 390px;
    }
}

.menu-mobile-header,
.menu-mobile-trigger {
    display: none;
}

// Section: Media Query
@media only screen and (max-width: 992px) {
    .menu-mobile-trigger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 30px;
        flex:0 0 30px;
        max-width: 30px;
        height: 1rem;
        border: none;
        outline: none;
        margin-#{$end-direction}: 1.25rem;
        background: none;
        transform: rotate(0deg);
        transition: 0.35s ease-in-out;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            border: none;
            outline: none;
            opacity: 1;
            border-radius: 0.25rem;
            background: $color-black;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 0.5rem;
            }
            &:nth-child(4) {
                top: 1rem;
            }
        }
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem;
        height: 100%;
        z-index: 1099;
        overflow: hidden;
        background: $color-white;
        transform: translate(-100%);
        transition: all 0.5s ease-in-out;
        &.active {
            transform: translate(0%);
        }
        >ul>li {
            display: block;
            line-height: 1;
            margin: 0;
            >a {
                display: block;
                line-height: 3.125rem;
                height: 3.125rem;
                padding: 0 3.125rem 0 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                i.icn {
                    position: absolute;
                    font-size: 1.25rem;
                    line-height: 3.125rem;
                    top: 0;
                    right: 0;
                    width: 3.125rem;
                    height: 3.125rem;
                    text-align: center;
                    transform: rotate(-90deg);
                }
            }
        }
        .menu-mobile-header {
            position: relative;
            position: sticky;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 0;
            height: 3.125rem;
            z-index: 501;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            background: $color-white;
            .menu-mobile-arrow {
                border: none;
                background: none;
                display: none;
                font-size: 1.25rem;
                line-height: 3.125rem;
                width: 3.125rem;
                height: 3.125rem;
                cursor: pointer;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                color: $color-black;
                text-align: center;
                .svg {
                    margin: 0;
                }
            }
            &.active .menu-mobile-arrow {
                display: block;
            }
            .menu-mobile-title {
                font-size: 1rem;
                font-weight: 500;
                line-height: inherit;
                color: $color-black;
                text-transform: capitalize;
                text-rendering: optimizeLegibility;
            }
            .menu-mobile-close {
                border: none;
                background: none;
                line-height: 3.125rem;
                cursor: pointer;
                width: 3.125rem;
                height: 3.125rem;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                color: $color-black;
                text-align: center;
                .svg {
                    margin: 0;
                }
            }
        }
        .menu-section {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        >ul>li .menu-subs {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            max-width: none;
            min-width: auto;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 1rem;
            padding-top: 3rem;
            opacity: 1;
            overflow-y: auto;
            visibility: visible;
            transform: translateX(0%);
            box-shadow: none;
            &.menu-mega {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                max-width: none;
                min-width: auto;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                padding-top: 3rem;
                opacity: 1;
                overflow-y: auto;
                visibility: visible;
                transform: translateX(0%);
                box-shadow: none;
            }
            &.active {
                display: block;
                max-height: unset;
            }
            &.menu-column-4>.list-item {
                flex: 0 0 100%;
                padding: 0rem;
                img.responsive {
                    margin-top: 0;
                }
                &.text-center {
                    .title {
                        margin-bottom: 1.25rem;
                    }
                    &:last-child .title {
                        margin-bottom: 0rem;
                    }
                }
            }
            >ul>li>a {
                display: block;
            }
            &.menu-mega>.list-item>ul {
                >li>a {
                    display: block;
                }
                margin-bottom: 1rem;
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.55);
        transition: all 0.5s ease-in-out;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.list-menu {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
    &-subs {
        flex: 1;
        column-count: 4;
        column-gap: 40px;
        @include media-breakpoint-down(md) {
            column-count: inherit;
            column-gap: inherit;
            max-height: inherit;
        }
        ul {
            display: inline-block;
            margin-bottom: 1.5rem;
            vertical-align: top;
            z-index: 1;
            column-span: 1;
        }
        a {
            display: block;
            padding: 0.5rem 0;
            font-size: 0.875rem;
        }
        .title {
            color: $brand-color;
            font-weight: 500;
            margin-top: 2rem;
            margin-bottom: 0;
            &:first-child {
                margin-top: 0;
            }
            a {
                color: currentColor;
            }
        }
    }
}

img.responsive {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    object-fit: cover;
    vertical-align: middle;
}

 