.breadcrumbs-bar {
    //border-bottom: $border;
    margin-bottom: 2rem;  
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding-block: 0.75rem;
    ul {
        display: flex;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
        li {
            position: relative;
            padding: 0;
            padding-#{$end-direction}: 25px;
            font-size: 0.8rem;
            display: block;
            font-weight: 400;
            line-height: 1.5;
            &:before {
                position: absolute;
                #{$end-direction}: 10px;
                top: calc(50% - 3px);
                content: "";
                height: 7px;
                width: 7px;
                border: $border-brand;
                border-width: 1px 1px 0 0;
                transform: rotate(45deg);
                [dir="rtl"] & {
                    #{$end-direction}: 13px;
                    transform: rotate(-136deg);
                }
            }
            &:last-child {
                padding-#{$end-direction}: 0;
                &:before {
                    display: none;
                }
            }
            a {
                color: $brand-color;
                font-size: inherit;
                display: block;
                line-height: inherit;
            }
        }
    }
    &--center {
        ul {
            justify-content: center;
        }
    }
    &--right {
        color: #fff;
        ul {
            justify-content: flex-end;
        }
    }
    &--white {
        color: #fff;
        ul {
            li {
                &:before {
                    border-color: #fff;
                }
            }
        }
    }
}