.categories {
    position: relative !important;
    margin-#{$end-direction}: 0 !important;
    >a.categories-link {
        min-width: 200px;
        border-#{$end-direction}: $border;
        display: flex;
        align-items: center;
        .c-hamburger {
            margin: 0;
            margin-#{$end-direction}: 10px;
            @include media-breakpoint-down(lg) {
                display: none
            }
        }
    }
}

.vertical-menu {
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    transition: all .2s ease-in-out;
     
     
    transition-delay: 0.15s;
    @include media-breakpoint-down(lg) {
        display: none;
        position: sticky;
        visibility: visible;
        opacity: 1;
    }
    .categories.active & {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .menu {
        @include media-breakpoint-up(xl) {
         width: 20%;      
        } 
        padding: 0;
        margin: 0;
        background-color: $bg-white;
        font-weight: 300;
        /*border: $border;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
        box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1);
    }
    .menu a:hover {
        text-decoration: none;
    }
    .menu>li {
        display: block;
        border-bottom: solid 1px lighten($border-color, 2);
        &:last-child {
            border-bottom: 0;
        }
        &.has-child {
            >a {
                position: relative;
                &:after {
                    position: absolute;
                    opacity: 0.5;
                    #{$end-direction}: 22px;
                    top: calc(50% - 4px);
                    content: "";
                    display: block;
                    margin: 0;
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid currentColor;
                    border-#{$end-direction}: 1px solid currentColor;
                    transform: rotate(45deg);
                }
            }
        }
        &.all-categories {
            a {
                font-weight: 600;
            }
        }
    }
    .menu>li>a {
        padding: 0.8rem 1rem;
        display: block;
        color: #222;
    }
    .menu>li:hover>a {
        color: $brand-color;
    }
    .menu>li:hover {
        background-color: #fff;
    }
    /* Megadrop width dropdown */
    .menu>li>.megadrop {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        list-style: none;
        top: 0px;
        #{$end-direction}: 0%;
        width: 80%;
        min-height: 100%;
        padding: 0 1rem;
        z-index: 99;
        overflow: auto;
        max-height: 100%;
        background-color: #fff;
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
        @include media-breakpoint-down(lg) {
            display: none;
        }
        >ul {
            display: flex;
            flex-wrap: wrap;
            >li {
                flex: 0 0 25%;
                padding: 1rem;
            }
        }
    }
    .menu>li:hover .megadrop {
        opacity: 1;
        visibility: visible;
    }
    .menu>li>ul li ul,
    .menu li>ul li,
    .menu>li>.megadrop,
    .menu>li>ul,
    .menu>li {
        transition: all 0.2s ease-in-out;
       
    }
    .megadrop-col {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
}