.fetured-slider .fetured-item {
    display: table;
    table-layout: fixed;
}

.featured-product,
.featured-desc {
    vertical-align: top;
    display: table-cell;
}

.fetured-slider .products-head {
    margin-bottom: 15px;
}

.fetured-slider .products .products-head-title {
    white-space: normal;
}

.featured-product {
    width: 450px;
    padding: 10px;
}

.fetured-slider .fetured-item {
    
    border-#{$end-direction}: $border;
    padding: 0 20px;
}

.fetured-slider .fetured-item:last-child {
    
    border-#{$end-direction}: none;
}

.fetured-slider button.slick-prev.slick-arrow {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.fetured-slider .slick-next {
    position: absolute;
    top: 50%;
    #{$start-direction}: 74%;
    
    transform: translate(-50%, -50%);
    text-indent: -9999px;
    background-color: #ededed;
    border: none;
    border-radius: 50%;
    height: 78px;
    position: absolute;
    text-indent: -999999px;
    width: 78px;
    z-index: 1;
}

.fetured-slider .slick-next:after {
    border-bottom: 3px solid #000000;
    
    border-#{$end-direction}: 3px solid #000000;
    content: "";
    height: 15px;
    #{$start-direction}: 50%;
    
    margin-#{$start-direction}: -9px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    
    transform: rotate(-45deg);
    width: 15px;
}

.fetured-slider .slick-next:hover {
    background: $brand-color; color:$brand-color-inverse;
}

.fetured-slider .slick-next:hover:after {
    border-bottom-color: #fff;
    border-right-color: #fff;
}

.fetured-slider button.slick-prev {
    display: none !important;
}

.fetured-slider .featured-desc {
    vertical-align: middle;
}

.more-slider {
    background: #fff;
    position: relative;
}

.more-slider .more_slider_item {
    padding: 30px 30px;
    margin: 15px;
}

.more-slider .more_slider_item:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
}