.filter-directory {
    a {
        color: inherit;
    }
    .filter-directory_bar {

        display: flex;

        align-items: center;
        border-bottom: $border;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
            & {
                flex-direction: column;
            }
        }
        .filter-directory_search_input {
            margin-#{$end-direction}: 1rem;
            
            -ms-flex: 0 0 170px;
            flex: 0 0 170px;
            max-width: 170px;
            @include media-breakpoint-down(md) {
                & {
                    margin: 0;
                    margin-bottom: 1rem;
                    flex: auto;
                    max-width: none;
                }
            }
        }
        .filter-directory_indices {
            
            
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            
           
            flex: 1;
            flex-direction: row;
            flex-wrap: nowrap;
            @include media-breakpoint-down(md) {
                & {
                    justify-content: flex-start;
                    overflow-x: auto;
                    width: 100%;
                }
            }
            li {
                font-size: 0.8rem;
                padding: 0.4rem;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    .filter-directory_disabled {
        opacity: 0.2;
    }
}

.filter-directory_list {
    padding: 0;
    height: 465px;
    
    display: flex;

    flex-direction: column;
    
    flex-wrap: wrap;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items: flex-start;
    -ms-flex-line-pack:flex-start;
    align-content: flex-start;
    white-space: nowrap;
    overflow-y: auto;
    li {
        margin: 0.5rem 0;
        margin-#{$end-direction}: 10px;
        font-size: 0.8rem;
    }
    .filter-directory_list_title {
        text-transform: uppercase;
        font-weight: 600;
    }
    .filter-directory_count {
        opacity: 0.66;
        font-size: 0.7rem;
    }
}