.loader-positon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader-yk {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    /*border: 3px solid $brand-color;
 	animation: loader 2s infinite ease;*/
    margin: 15px auto;
    text-align: center;
    background: url(../images/retina/oval.svg) no-repeat center;
    background-size: 20px;
}

.loader-yk-inner {
    /*vertical-align: top;
     display: inline-block;
     width: 100%;
     background-color: $brand-color;
     animation: loader-inner 2s infinite ease-in;*/
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.loader-wrapper {
    position: relative;
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 14px;
        border: 2px solid $brand-color;
        margin: 10px;
        animation: rotate 2s infinite linear;
        animation-fill-mode: both;
        display: inline-block;
    }
    .circle:nth-of-type(2) {
        animation: rotate2 2s infinite linear;
        animation-fill-mode: both;
    }
    .circle:nth-of-type(3) {
        animation: rotate3 2s infinite linear;
        animation-fill-mode: both;
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes rotate2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotate2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes rotate3 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotate3 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.svg-loader {
    width: 20px;
    height: auto;
    margin: 5px auto;
}

#loadMoreBtnDiv {
    text-align: center;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    #{$start-direction}: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    #{$start-direction}: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    #{$start-direction}: 5px;
    #{$end-direction}: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    #{$start-direction}: 15px;
    #{$end-direction}: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    #{$start-direction}: 0;
}

#loader-wrapper .loader-section.section-right {
    #{$end-direction}: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222222;
}

.yokart-loader {
    margin: 0 auto;
    position: relative;
    z-index: 1001;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.yokart-loader img {
    max-width: 80px;
}

.pong-loader {
    position: absolute;
    margin: 0 auto;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    top: 50%;
    height: 2.5rem;
    width: 6px;
    background-color: transparent;
    animation: paddles 0.75s ease-out infinite;
    transform: translate3d(0, 0, 0);
    z-index: 1001;
}

.pong-loader:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: ballbounce 0.6s ease-out infinite;
}

@-webkit-keyframes paddles {
    0% {
        -webkit-box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
    50% {
        -webkit-box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
        box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
    }
    100% {
        -webkit-box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
}

@keyframes paddles {
    0% {
        -webkit-box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
    50% {
        -webkit-box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
        box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
    }
    100% {
        -webkit-box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
        box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
}

@-webkit-keyframes ballbounce {
    0% {
        -webkit-transform: translateX(-20px) scale(1, 1.2);
        transform: translateX(-20px) scale(1, 1.2);
    }
    25% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
    50% {
        -webkit-transform: translateX(15px) scale(1, 1.2);
        transform: translateX(15px) scale(1, 1.2);
    }
    75% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
    100% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}

@keyframes ballbounce {
    0% {
        -webkit-transform: translateX(-20px) scale(1, 1.2);
        transform: translateX(-20px) scale(1, 1.2);
    }
    25% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
    50% {
        -webkit-transform: translateX(15px) scale(1, 1.2);
        transform: translateX(15px) scale(1, 1.2);
    }
    75% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
    100% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}