.select-menu {
    border-#{$end-direction}: solid 1px rgba(var(--brand-color-alpha), 0.1);
    margin-#{$end-direction}: 10px;
    --icon: $brand-color-inverse;
    --shadow: rgba(18, 22, 33, .2);
    position: relative;
    width: 100%;
    max-width: 125px;
    select,
    button {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        border: 0;
        outline: 0;
        text-align: left;
        text-transform: none;
        -webkit-appearance: none;
    }
    select {
        pointer-events: none;
        user-select: none;
        opacity: 0;
        padding: 8px 36px 8px 10px;
        visibility: hidden;
    }
    button {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
        border-radius: 0;
        color: currentColor;
        //box-shadow: 0 4px 12px var(--shadow);
        //color: $brand-color-inverse;
        //background: $brand-color;
        background: none;
        div {
            position: relative;
            span {
                display: block;
                padding: 8px 0;
                padding-#{$end-direction}: 32px;
                &.next {
                    position: absolute;
                    width: 100%;
                }
            }
        }
        em {
            --r: 45deg;
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            width: 7px;
            height: 7px;
            margin-top: -4px;
            &:before {
                content: '';
                width: 7px;
                height: 7px;
                display: block;
                transform: rotate(var(--r)) scale(.75);
                border-right: 2px solid currentColor;
                border-bottom: 2px solid currentColor;
            }
        }
    }
    &.vertical {
        button {
            div {
                display: flex;
                span {
                    left: 0;
                    bottom: 100%;
                }
            }
        }
    }
    &.horizontal {
        button {
            div {
                display: flex;
                span {
                    right: 100%;
                    top: 0;
                }
            }
            em {
                --r: -45deg;
                margin-top: -3px;
            }
        }
    }
    &.change {
        button {
            animation: bounce-vertical .45s linear;
            div {
                animation: button-vertical .6s linear forwards .05s;
            }
            em {
                animation: arrow-vertical .45s linear;
            }
        }
        &.horizontal {
            button {
                animation-name: bounce-horizontal;
                div {
                    animation-name: button-horizontal;
                }
                em {
                    animation-name: arrow-horizontal;
                }
            }
        }
    }
}

@keyframes bounce-vertical {
    20% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
        box-shadow: 0 2px 8px var(--shadow);
    }
}

@keyframes bounce-horizontal {
    20% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2px);
        box-shadow: 0 8px 12px var(--shadow);
    }
}

@keyframes button-vertical {
    40% {
        transform: translateY(108%);
    }
    75% {
        transform: translateY(99%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes button-horizontal {
    40% {
        transform: translateX(104%);
    }
    75% {
        transform: translateX(99%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes arrow-vertical {
    20% {
        transform: translateY(var(--h));
        filter: blur(.5px);
        opacity: 1;
    }
    21% {
        transform: translateY(var(--h));
        opacity: 0;
    }
    22% {
        transform: translateY(calc(var(--h) * -1));
        opacity: 0;
    }
    23% {
        transform: translateY(calc(var(--h) * -1));
        opacity: 1;
    }
    50% {
        transform: translateY(4px);
        filter: blur(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes arrow-horizontal {
    20% {
        transform: translateX(var(--w));
        filter: blur(.5px);
        opacity: 1;
    }
    21% {
        transform: translateX(var(--w));
        opacity: 0;
    }
    22% {
        transform: translateX(calc(var(--w) * -1));
        opacity: 0;
    }
    23% {
        transform: translateX(calc(var(--w) * -1));
        opacity: 1;
    }
    50% {
        transform: translateX(4px);
        filter: blur(0);
    }
    100% {
        transform: translateX(0);
    }
}