.footer {
    color: $body-color;
    background: #fff;
    border-top: 1px solid #ddd;
    .container {
        position: relative;
    }
    p {
        color: #717171;
        font-size: 0.875em;
        margin: 0 0 20px;
    }
    h5 {
        color: $body-color;
        font-size: 1em;
        font-weight: 500;
        padding: 5px 0;
        margin-bottom: 20px;
        @include media-breakpoint-down(sm) {
            & {
                width: 100%;
                display: inline-block;
                position: relative;
                position: relative;
                margin: 0.5rem 0;
                cursor: pointer;
                font-size: 0.95em;
                text-transform: uppercase;
                padding: 1rem;
                border: $border;
                border-radius: $radius4;
                &:before {
                    position: absolute;
                    #{$end-direction}: 15px;
                    top: 13px;
                    width: 10px;
                    height: 10px;
                    content: "";
                    border-#{$start-direction}: 2px solid rgba(0, 0, 0, 0.32);
                    border-bottom: 2px solid rgba(0, 0, 0, 0.32);
                    transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -webkit-transition: 0.3s all ease-in-out;
                    transition: 0.3s all ease-in-out;
                }
                &.is-active {
                    &:before {
                        top: 19px;
                        transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        -ms-transform: rotate(135deg);
                    }
                }
            }
        }
    }
    .toggle__target {
        @include media-breakpoint-down(sm) {
            & {
                display: none;
            }
        }
    }
    .nav-vertical {
        li {
            color: inherit;
            font-size: 0.875em;
            font-weight: 300;
            padding: 5px 0;
            display: block;
            a {
                color: #717171;
                font-size: inherit;
                position: relative;
                -webkit-transition: all ease .3s;
                transition: all ease .3s;
                &:hover {
                    color: $brand-color;
                    margin-#{$start-direction}: 10px;
                    &:before {
                        #{$end-direction}: 0;
                    }
                }
                &:before {
                    background: $brand-color;
                    color: $brand-color-inverse;
                    bottom: 0px;
                    content: "";
                    height: 1px;
                    #{$start-direction}: 0;
                    position: absolute;
                    #{$end-direction}: 100%;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: right;
                    transition-property: right;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
            }
        }
    }
    .payment {
        text-align: #{$end-direction};
        @include media-breakpoint-down(lg) {
            & {
                text-align: center;
            }
        }
        img {
            display: inline-block;
        }
    }
    .bottom-footer { 
        padding-top: 1rem;
    }
    &__disclaimer {
        background-color: #525252;
        color: $brand-color-inverse;
        font-size: 0.7rem;
    } 
} 

.captcha {
    .wrapper {
        padding-bottom: 80px;
    }
}

.upperContent-footer {
    border-bottom: $border;
    border-top: $border;
    ul {
        display: table;
        width: 100%;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        li {
            text-align: center;
            vertical-align: top;
            display: table-cell;
            padding: 25px 15px;
            border-#{$start-direction}: $border;
            @include media-breakpoint-down(sm) {
                display: block;
                border: none;
                padding: 15px;
            }
            &:first-child {
                -webkit-border-start: none;
                -moz-border-start: none;
                border-#{$start-direction}: none;
            }
        }
    }
    h3 {
        font-size: 1em;
        color: $body-color;
        margin: 5px auto;
        padding: 0;
        text-transform: uppercase;
    }
    p {
        font-size: 0.8em;
        line-height: 1.5;
        color: #a4a3a3;
        max-width: 200px;
        margin: 0 auto 20px !important;
    }
    .individualTupple {
        margin: 0 auto;
        img {
            max-width: 50px;
            height: auto;
            margin: 0 auto;
            display: inline-block;
            opacity: 0.40;
            margin-bottom: 10px;
        }
    }
}

.newsletter {
    h4 {
        color: $body-color;
        font-size: 1em;
        font-weight: 500;
        padding: 5px 0;
        margin-bottom: 15px;
        p {
            margin: 0;
            color: #4b4a4a;
            font-weight: 300;
            font-size: 0.875em;
            margin-bottom: 10px;
        }
    }
}

.contact-info {
    display: flex;
    align-items: center;
    li {
        display: flex;
        align-items: center;
        margin: 10px 0;
        margin-#{$end-direction}: 20px;
        font-size: 0.875em;
        font-weight: 300;
        color: #000;
        align-items: center;
        i {
            margin-#{$end-direction}: 8px;
            img {
                max-width: 15px;
                max-height: 15px;
            }
        }
        a {
            color: inherit;
        }
    }
}

.subscription {
    padding: 30px 2.5rem;
}

.sub-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sub-form input[type="text"] {
    flex: 1;
    background: #fff;
    height: 2.5rem;
    width: 100%;
    line-height: 1.2;
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 0;
    margin-#{$end-direction}: -3px;
    border: $border;
    border-radius: 2px 0 2px 2px;
    color: $body-color;
    vertical-align: top;
}

.sub-form input[type="submit"] {
    font-size: 1em;
    background: $brand-color;
    color: $brand-color-inverse;
    height: 2.5rem;
    width: 100%;
    max-width: 136px;
    line-height: 1.2;
    padding: 5px 15px;
    margin: 0;
    border: none;
    vertical-align: top;
    font-weight: 300;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
}

.social {
    margin: 0;
    ul {
        padding: 0;
        display: flex;
        @include media-breakpoint-down(md) {
            & {
                justify-content: center;
            }
        }
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-#{$end-direction}: 8px;
            vertical-align: top;
            background: $bg-gray;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            overflow: hidden;
            svg {
                path {
                    fill: #b3b3b3;
                }
            }
            .svg,
            img {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .svg {
                .fa {
                    font-size: 1.4em;
                }
                svg {
                    width: 20px;
                    height: 20px;
                    max-width: 100%;
                }
            }
        }
    }
    a {
        color: $brand-color;
    }
}

.bottom-footer .fixed-container {
    padding: 0 15%;
}

.accordion-footer {
    margin-bottom: 25px;
    border-bottom: $border;
}

.accordion_triger {
    padding: 15px 0;
    position: relative;
    color: inherit;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
}

.accordion_triger span {
    float: right;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    line-height: 1;
}

.accordion_triger span:after {
    content: "+";
    padding-#{$start-direction}: 5px;
}

.accordion_triger.active span:after {
    content: "-";
}

.accordion_content {
    display: none;
    padding: 10px 0;
    padding-top: 0;
}

.footerSubCategories li {
    display: inline-block;
    font-size: 0.8em;
    color: inherit;
    line-height: 1;
    font-weight: 400;
    position: relative;
}

.footerSubCategories li a {
    font-size: inherit;
    color: inherit;
}

.footerSubCategories li:after {
    content: "|";
    padding-#{$start-direction}: 2px;
}

.footerSubCategories li:last-child:after {
    content: normal;
}

.footerSubCategories li a:hover {
    color: $brand-color;
}

.copyright {
    text-align: center;
    font-size: 0.875em;
    padding: 10px 10px;
    color: #545454;
}

.store-button {
    a {
        display: inline-flex;
        align-items: center;
    }
    .icn {
        width: 1.2rem;
        height: auto;
        display: inline-block;
        margin-#{$end-direction}: 0.5rem;
    }
}