.autocomplete-suggestions.search-dropdown-menu {
    #{$start-direction}: 0;
    top: 100%;
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    width: 100% !important;
    border-top: 1px solid #ddd;
    font-size: 0.8em;
	overflow-y:auto;
}

.autocomplete-suggestions.search-dropdown-menu li {
    padding: 5px 0;
}

.autocomplete-suggestions.search-dropdown-menu li strong {
    font-weight: 700;
}


.auto-suggestion {
    min-width: 220px;
    z-index: 10;
    top: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    /*active*/
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.auto-suggestion li {
    padding: 5px 10px;
    border-bottom: $border;
}

.auto-suggestion li a {
    display: block;
}