@media print {


    body {
        margin: 0;
        padding: 0;
        color: #000;
        background-color: #000;
        overflow: visible !important;

        table {
            overflow: visible !important;
            table-layout: fixed  !important;
        }

        .content-space {
            padding: 0 !important;
            margin: 0;
        }
    }

    [dir="rtl"] {
        body {
            direction: rtl !important;
            text-align: right !important;
        }
    }


    .noprint,
    .no-print {
        display: none !important;
    }
}