.quantity { 
    background: #fff;
    border: $border;
    height: 38px;
    display: flex;
    align-items: center;
    max-width: 130px;
    border-radius: $radius3;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        max-width: 32px;
        flex: 0 0 32px;
        width: 32px;
        height: 100%;
        font-size: 0.7rem; 
        color: $txt-gray;
        &:hover {
            color: $body-color;
        }
    }
    input {
        border: none;
        text-align: center; 
        padding: 0 8px;
        width: 100%;
        height: 100%;
        font-size: 0.85rem;
        min-width: 35px;
    }
    &-2 {
        max-width: 90px;
        height: 24px;
        border: none;
        span {
            width: 24px;
            flex: 0 0 24px;
            max-width: 24px;
            background-color: $bg-gray;
            border-radius: $radius2;
        }
    }
}