.side-cart {
    position: fixed;
    max-width: 450px;
    width: 100%;
    height: 100%;
    #{$end-direction}: 0;
    top: 0;
    background: #fff;
    color: $body-color;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(100% * $transform-direction);
    transition: all 0.5s ease;
    &--on & {
        transform: translateX(0% * $transform-direction);
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.20);
        @include media-breakpoint-down(sm) {
            & {
                width: 100%;
            }
        }           
    }
    .cartdetail__body {
        //max-height: 400px;
        //max-height: calc(100vh - 215px);
        padding-top: 50px;
        height: 100%;
        width: 100%;
        background: $bg-white;
        flex: 1;
        border-bottom: $border;
        overflow-y: auto;
    }
}

.cart-footer {
    
    position: sticky !important;
    top: 185px;
}

.cartdetail__footer {
    .buttons-group {
        flex: 1;
    }
}
.side-cart--on{
    .cart > a:after{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
}